@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title text-danger">@Model.ErrorTitle</h5>
        <p class="card-text">@Model.ErrorMessage</p>
        <a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" class="btn btn-danger">Go Back</a>
    </div>
</div>
